@using PaparaBootcampBitirmeProjesi.BLL.Models.MessageDTO

@model List<GetInboxMessagesDTO>
@{
    ViewData["Title"] = "Gelen Mesajlar";
    int count = 0;
}
<h1>Gelen Mesajlar</h1>

<table class="table table-bordered"
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
        <th>Sil</th>
        <th>Mesaj Durumu</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
                            <tr id= "color">
                                <th>@count</th>
                                <th>
                @if (item.RecevierMail != null)
                {
                    @item.RecevierMail
                }
                                </th>
                                <th>
                @if (item.Subject != null)
                {
                    @item.Subject
                }
                                    </th>
                                <th> @item.CreationDate.ToString("dd.MMMM.yyyy") </th>
                                <th><a asp-action="GetMessageDetails" asp-controller="Message" asp-route-id="@item.MessageId" type="submit" class="btn btn-primary" id ="change" onclick="changeColor()">Mesajı Aç</a></th>
                                <th><a asp-action="DeleteMessage" asp-controller="Message" asp-route-id="@item.MessageId" type="submit" class="btn btn-primary" onclick="return confirm('Mesajı silmek istediğinize emin misiniz?')">Sil</a></th>
                                <th>@item.IsRead </th>
                            </tr>
    }
</table>

<script>
         function changeColor() {
         document.getElementById("color").style.background = "gray";}
</script>


