@using PaparaBootcampBitirmeProjesi.BLL.Models.MessageDTO

@model List<GetInboxMessagesDTO>
@{
    ViewData["Title"] = "Gelen Mesajlar";
    int count = 0;
}
<h1>Gelen Mesajlar</h1>

<table class="table table-bordered"
    <tr>
        <th>#</th>
        <th>Gönderen</th>
        <th>Konu</th>
        <th>Tarih</th>
        <th>Mesajı Aç</th>
        <th>Sil</th>
        <th>Mesaj Durumu</th>
    </tr>
    @foreach (var item in Model)
    {
        count++;
                <tr>
                    <th>@count</th>
                    <th>
                @if (item.SenderMail != null)
                {
                    @item.SenderMail
                }
                    </th>
                    <th>
                @if (item.Subject != null)
                {
                    @item.Subject
                }
                        </th>
                    <th> @item.CreationDate </th>
                    <th><a asp-action="GetMessageDetails" asp-controller="Message" asp-route-id="@item.MessageId" type="submit" class="btn btn-primary">Mesajı Aç</a></th>
                    <th><a asp-action="DeleteMessage" asp-controller="Message" asp-route-id="@item.MessageId" type="submit" class="btn btn-primary" onclick="return confirm('Mesajı silmek istediğinize emin misiniz?')">Sil</a></th>
                    <th>@item.IsRead </th>
                </tr>
    }
</table>

